export PUB_KEY_FILE="<path_to_pub_key>"

export YC_CLOUD_ID=$(yc config get cloud-id)
export YC_FOLDER_ID=$(yc config get folder-id)
export YC_ZONE=$(yc config get compute-default-zone)
export YC_SUBNET_ID="<subnet_id>"
export YC_TOKEN=$(yc iam create-token)

export TF_VAR_yc_token="$YC_TOKEN"
export TF_VAR_yc_cloud="$YC_CLOUD_ID"
export TF_VAR_yc_folder="$YC_FOLDER_ID"
export TF_VAR_yc_default_zone="$YC_ZONE"
export TF_VAR_db_password="<db_password>"


